
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <button id="my-button">按我</button>

      
    </div>
    <!--<script src="/scripts/app.js"></script>
    <script src="/scripts/m.js"></script>-->
    <script src="/wwwroot/scripts/dist/app.js"></script>
</body>
</html>
